body {
  font-family: "Lato", "Arial", "Verdana", sans-serif;
}


.btn {
  margin-left: 10%;
  margin-top: 10%;
  background-color: blue;
  color: white;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal-container.showing {
  display: block;
}

.modal {
  position: fixed;
  top: 6em;
  left: 10em;
  bottom: 6em;
  right: 10em;
  background: blue;
  color: white;
  border: 1px solid #AAA;
  padding: 2em;
}

.modal-close {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  border-radius: 2em;
  background: #EEE;
  border: 1px solid #AAA;
}
